# Who will exit first?

In [1]:
import pandas as pd

# read data
dataset = pd.read_csv("Churn_Modelling.csv", header=0)
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [2]:
# Unique geographic values in dataset
if dataset["Gender"][0] in ("Male", "Female"):
    unique_geography = dataset[["Geography"]].groupby("Geography").size()
print(unique_geography)

Geography
France     5014
Germany    2509
Spain      2477
dtype: int64

Transformation of some values in dataset.

In [4]:
# transform gender values geographic values
if dataset["Gender"][0] in ("Male", "Female"):
    for row in [dataset]:
        row["Gender"] = row["Gender"].map( {"Male": 0, "Female": 1} ).astype(int)
        row["Geography"] = row["Geography"].map( {"France": 0, "Germany": 1, "Spain": 2} ).astype(int)
    # end of for loop
# end of if clause

# transform age values
if dataset["Age"][0] > 17:
    dataset.loc[ dataset["Age"] <= 16, "Age"] = 0
    dataset.loc[(dataset["Age"] > 16) & (dataset["Age"] <= 32), "Age"] = 1
    dataset.loc[(dataset["Age"] > 32) & (dataset["Age"] <= 48), "Age"] = 2
    dataset.loc[(dataset["Age"] > 48) & (dataset["Age"] <= 64), "Age"] = 3
    dataset.loc[ dataset["Age"] > 64, "Age"] = 4
# end of if clause

# transform CreditScore values
if dataset["CreditScore"][0] > 4:
    dataset.loc[ dataset["CreditScore"] <= 450, "CreditScore"] = 0
    dataset.loc[(dataset["CreditScore"] > 450) & (dataset["CreditScore"] <= 550), "CreditScore"] = 1
    dataset.loc[(dataset["CreditScore"] > 550) & (dataset["CreditScore"] <= 650), "CreditScore"] = 2
    dataset.loc[(dataset["CreditScore"] > 650) & (dataset["CreditScore"] <= 750), "CreditScore"] = 3
    dataset.loc[ dataset["CreditScore"] > 750, "CreditScore"] = 4
# end of if clause

# transform CreditScore values
if dataset["Balance"][1] > 4:
    dataset.loc[ dataset["Balance"] <= 50000, "Balance"] = 0
    dataset.loc[(dataset["Balance"] > 50000) & (dataset["Balance"] <= 100000), "Balance"] = 1
    dataset.loc[(dataset["Balance"] > 100000) & (dataset["Balance"] <= 150000), "Balance"] = 2
    dataset.loc[(dataset["Balance"] > 150000) & (dataset["Balance"] <= 200000), "Balance"] = 3
    dataset.loc[ dataset["Balance"] > 200000, "Balance"] = 4
# end of if clause

# transform EstimatedSalary values
if dataset["EstimatedSalary"][0] > 4:
    dataset.loc[ dataset["EstimatedSalary"] <= 40000, "EstimatedSalary"] = 0
    dataset.loc[(dataset["EstimatedSalary"] > 40000) & (dataset["EstimatedSalary"] <= 80000), "EstimatedSalary"] = 1
    dataset.loc[(dataset["EstimatedSalary"] > 80000) & (dataset["EstimatedSalary"] <= 120000), "EstimatedSalary"] = 2
    dataset.loc[(dataset["EstimatedSalary"] > 120000) & (dataset["EstimatedSalary"] <= 160000), "EstimatedSalary"] = 3
    dataset.loc[ dataset["EstimatedSalary"] > 160000, "EstimatedSalary"] = 4
# end of if clause


if "RowNumber" in dataset.columns:
    dataset = dataset.drop(["RowNumber"], axis=1)
if "CustomerId" in dataset.columns:
    dataset = dataset.drop(["CustomerId"], axis=1)
if "Surname" in dataset.columns:
    dataset = dataset.drop(["Surname"], axis=1)

dataset.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.00000,10000.000000
mean,2.485100,0.746300,0.454300,1.903400,5.012800,1.211000,1.530200,0.70550,0.515100,2.00340,0.203700
std,0.984518,0.827529,0.497932,0.713105,2.892174,1.054699,0.581654,0.45584,0.499797,1.40783,0.402769
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.00000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,3.000000,0.000000,1.000000,0.00000,0.000000,1.00000,0.000000
50%,3.000000,0.000000,0.000000,2.000000,5.000000,1.000000,1.000000,1.00000,1.000000,2.00000,0.000000
75%,3.000000,1.000000,1.000000,2.000000,7.000000,2.000000,2.000000,1.00000,1.000000,3.00000,0.000000
max,4.000000,2.000000,1.000000,4.000000,10.000000,4.000000,4.000000,1.00000,1.000000,4.00000,1.000000

Extracting train dataset from dataset.

In [5]:
test_indis = 10

train_dataset = dataset[dataset.index % test_indis != 0]
train_dataset.describe()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,2.480333,0.747222,0.453222,1.906444,5.003333,1.209222,1.526778,0.705444,0.514778,1.999889,0.205556
std,0.986097,0.829365,0.497835,0.713655,2.892102,1.054206,0.578492,0.455868,0.499809,1.408426,0.404129
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,2.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,3.000000,0.000000,0.000000,2.000000,5.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000
75%,3.000000,1.000000,1.000000,2.000000,7.000000,2.000000,2.000000,1.000000,1.000000,3.000000,0.000000
max,4.000000,2.000000,1.000000,4.000000,10.000000,4.000000,4.000000,1.000000,1.000000,4.000000,1.000000

Extracting test dataset from dataset

In [6]:
test_dataset = dataset[dataset.index % test_indis == 0]
test_dataset.describe()

#total count of sample space
#total = float(len(train_dataset))

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000
mean,2.528000,0.738000,0.464000,1.876000,5.098000,1.227000,1.56100,0.70600,0.518000,2.035000,0.187000
std,0.969616,0.811181,0.498952,0.707902,2.892882,1.059525,0.60881,0.45582,0.499926,1.402763,0.390107
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.00000,0.00000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,3.000000,0.000000,1.00000,0.00000,0.000000,1.000000,0.000000
50%,3.000000,1.000000,0.000000,2.000000,5.000000,1.000000,2.00000,1.00000,1.000000,2.000000,0.000000
75%,3.000000,1.000000,1.000000,2.000000,8.000000,2.000000,2.00000,1.00000,1.000000,3.000000,0.000000
max,4.000000,2.000000,1.000000,4.000000,10.000000,4.000000,4.00000,1.00000,1.000000,4.000000,1.000000

In [7]:
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,2,0,1,2,2,0.0,1,1,1,2.0,1
1,2,2,1,2,1,1.0,1,0,1,2.0,0
2,1,0,1,2,8,3.0,3,1,0,2.0,1
3,3,0,1,2,1,0.0,2,0,0,2.0,0
4,4,2,1,2,2,2.0,1,1,1,1.0,0
5,2,2,0,2,8,2.0,2,1,0,3.0,1
6,4,0,0,3,7,0.0,2,1,1,0.0,0
7,0,1,1,1,4,2.0,4,1,0,2.0,1
8,1,0,0,2,4,2.0,2,0,1,1.0,0
9,3,0,0,1,2,2.0,1,1,1,1.0,0
10,1,0,0,1,6,2.0,2,0,0,2.0,0
11,1,2,0,1,3,0.0,2,1,0,1.0,0
12,1,0,1,2,10,0.0,2,1,0,0.0,0
13,1,0,1,1,5,0.0,2,0,0,4.0,0
14,2,2,1,2,7,0.0,2,1,1,1.0,0
15,2,1,0,2,3,2.0,2,0,1,1.0,0
16,3,1,0,3,1,2.0,1,1,0,0.0,1
17,1,2,1,1,9,0.0,2,1,1,0.0,0
18,2,2,0,2,6,0.0,1,0,0,3.0,0
19,3,0,1,1,6,0.0,2,1,1,1.0,0
20,3,0,0,2,8,0.0,2,1,1,4.0,0
21,2,2,1,1,8,0.0,2,1,0,3.0,0
22,1,2,1,2,4,0.0,1,1,0,2.0,1
23,3,0,0,2,3,0.0,2,0,1,0.0,0
24,4,0,1,2,5,0.0,1,1,1,4.0,0
25,2,0,0,1,3,0.0,2,0,1,3.0,0
26,4,1,0,2,2,2.0,1,1,1,4.0,0
27,2,0,0,2,9,0.0,2,0,0,0.0,0
28,2,1,1,2,3,2.0,1,1,1,2.0,0
29,0,0,0,1,0,1.0,2,1,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
9970,1,0,0,2,7,3.0,2,1,0,2.0,0
9971,4,0,1,2,3,2.0,1,0,0,4.0,0
9972,4,0,0,1,4,3.0,1,1,0,4.0,0
9973,2,0,0,1,7,0.0,2,1,1,3.0,0
9974,2,0,0,2,7,2.0,1,1,0,0.0,0
9975,2,1,0,3,1,2.0,2,1,0,4.0,1
9976,2,0,1,2,7,2.0,1,1,0,2.0,0
9977,3,0,1,1,9,0.0,2,1,1,0.0,0
9978,4,0,0,2,9,1.0,2,1,0,4.0,0
9979,3,0,1,3,1,1.0,1,0,1,0.0,0
9980,3,2,0,2,6,1.0,1,0,0,2.0,0
9981,1,1,0,2,3,3.0,1,1,1,1.0,1
9982,3,1,1,2,7,2.0,1,1,0,2.0,1
9983,2,0,0,2,4,0.0,1,0,0,3.0,0
9984,2,1,0,2,7,1.0,2,1,1,1.0,0
9985,3,0,0,2,6,2.0,2,1,0,2.0,0
9986,3,1,0,2,1,3.0,2,0,1,0.0,0
9987,2,2,0,1,8,3.0,2,1,1,0.0,0
9988,4,0,0,1,4,0.0,2,1,0,1.0,0
9989,4,2,0,1,4,0.0,2,1,1,4.0,0
9990,3,1,0,2,3,0.0,1,1,0,1.0,0
9991,2,0,1,3,4,1.0,1,1,0,1.0,1
9992,3,2,0,2,2,0.0,1,1,0,4.0,0
9993,2,0,0,1,7,3.0,1,1,0,0.0,0
9994,4,0,1,1,2,0.0,2,0,0,4.0,0
9995,4,0,0,2,5,0.0,2,1,0,2.0,0
9996,1,0,0,2,10,1.0,1,1,1,2.0,0
9997,3,0,1,2,7,0.0,1,0,1,1.0,1
9998,4,1,0,2,3,1.0,2,1,0,2.0,1
9999,4,0,1,1,4,2.0,1,1,0,0.0,0

In [13]:
from sklearn.linear_model import LogisticRegression

X_train = dataset.drop(["Exited"], axis=1)
Y_train = dataset["Exited"]
X_test  = test_dataset.drop(["Exited"], axis=1).copy()

# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
print(Y_pred)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0]

81.219999999999999

In [16]:
import numpy as np

def sigmoid(t):
    return np.exp(t)/(1+np.exp(t))

def logsumexp(a,b):
    m = np.max([a,b])
    return m + np.log(np.exp(a - m) + np.exp(b - m))

def hinge(x):
    return x if x>=0 else 0

def gradientAscentStep(eta, X, y, w):
    dL = np.dot(X.T, y - sigmoid(np.dot(X, w)))
    w = w + eta * dL
    return w
# end of def gradientAscentStep

def gradientAscent(eta, X, y, w, epoch):
    for i in range(epoch):
        w = gradientAscentStep(eta, X, y, w)
        #print("w:",w)
    return w
# end of def gradientAscent

# import libraries
import pandas as pd
import numpy as np
import math

# total count of sample space
total = float(len(train_dataset))

#columns = ["CreditScore", "Geography", "Gender", "Age", 
#           "Tenure", "Balance", "NumOfProducts", "HasCrCard", 
#           "IsActiveMember", "EstimatedSalary"]

columns = ["CreditScore", "Geography", "Gender", "Age", 
           "Balance", "Tenure", "NumOfProducts", "HasCrCard",
           "IsActiveMember", "EstimatedSalary"]

def train(eta, w):
    X = np.array(train_dataset[columns])
    y = [1 if v == 1 else 0 for v in np.array(train_dataset[["Exited"]])]
    w = gradientAscent(eta, X, y, w, 1000)
    return w
# end of def train

def test(w):
    X = np.array(test_dataset[columns])
    y = [1 if v == 1 else 0 for v in np.array(test_dataset[["Exited"]])]
    print("y:",y)
    Z = np.dot(X, w)
    #print("Z:", sigmoid(Z))
    print("Z:", sigmoid(Z)[0])
    Z_dist = [1 if v >= 0.5 else 0 for v in sigmoid(Z)]
    print("s:", Z_dist)
    
    # compute accuracy
    correct = 0
    for i in range(len(y)):
        if y[i] == Z_dist[i]:
            correct += 1
    
    print("accuracy:", correct / len(y))
# end of def test

# intial values
w = np.array(np.zeros(len(columns)))
#eta = 0.0002
eta = 0.00009

w = train(eta, w)
print("w:", w)
test(w)

w: [-0.63621672  0.03792872  0.86045476  1.4579393   0.26468208 -0.52373508
 -0.99124527 -0.44130065 -2.15044729 -0.20496428]
y: [1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0]
Z: 0.0733392217643
s: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
accuracy: 0.815